<div class="calculation calculation-input" id="calculation_in">
    <label class="calculation-signature" for="in">{{ pair.getIn.abbreviation }}{{ pair.getIn.payment.signature }}</label>
    <input id="in" type="text" value="1">
</div>

<div class="calculation calculation-input" id="calculation_out">
    <label class="calculation-signature" for="out">{{ pair.getOut.abbreviation }}{{ pair.getOut.payment.signature }}</label>
    <input id="out" type="text" value="{{ pair.getCourse }}">
</div>

<script>

    let input_in = document.getElementById('in');
    let input_out = document.getElementById('out');

    let pair = JSON.parse("{{ pair | json_encode | e('js') }}");

    input_in.oninput = function () {

        let noCommission = Math.min(
            Math.max(
                pair.out.payment.min,
                input_in.value * pair.out.payment.percent / 100
            ),
            pair.out.payment.max
        ) + pair.out.payment.constant;

        noCommission = input_in.value - noCommission;

        input_out.value = course * noCommission;
    };

    input_out.oninput = function () {

        input_in.value = (input_out.value / course + pair.out.payment.constant) / ((100 - pair.out.payment.percent) / 100 );
    }

</script>